body {
	background-color: #536277;
	background-image: url(../img/back/fondo.gif);
	background-repeat: repeat-x;
	background-position: top;
	margin: 0px;
	padding: 0px;
	height:99.8%;
	font-family:tahoma;
	font-size:9px;
}

#container {
 /*margin:auto;*/
 margin-left:auto;
 margin-right:auto;
 width:775px;
 height:100%;
 background-color:#FFFFFF;
}
#header { 
 background-image: url(../img/back/top.gif);
 height:118px;
 font-size:14px;

}
#content { 
 background-color:#FFFFFF;
 padding:10px;
 vertical-align:top;
}
#footer { 
 color: #8f8f8f;
 background-image:url(../img/back/bottom.gif);
 background-repeat:repeat-x;
 height:44px;
 vertical-align:middle;
 padding:10px;
}
#left {
 width:13px;
 background-image: url(../img/back/s_i.gif);
 background-repeat: repeat-y;
 vertical-align:top;
}
#right {
 width:13px;
 background-image:url(../img/back/s_d.gif);
 background-repeat: repeat-y;
 vertical-align:top;
}
#content_login { 
 background-color:#FFFFFF;
 padding:10px;
 vertical-align:middle;
}
.marca1 {
	font-weight: bold;
	color: #666666;
}

.bottom {
	color: #8f8f8f;
}

td {
	font-family: tahoma;
	font-size: 11px;
	vertical-align:middle;
}

.top1 {
	font-size: 13px;
	padding-left: 7px;
	color: #FFFFFF;
}
.top2 {
	font-size: 13px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-left: 7px;
	font-weight: bold;
}
.titulo { 
	font-size: 16px;
	font-family: Arial;
	font-weight: bolder;
	text-transform:uppercase;
}
.boton { 
color:#FFFFFF;
font-weight:bold;
text-align:center;
vertical-align:middle;
text-decoration:underline;
background-image:url(../img/boton/boton_02.gif);
background-color:#EFF1F3;

}
.boton a:link {
color:#FFFFFF;
}
.boton a:visited {
color:#FFFFFF;
}
a:link	  { color: #BF0677;}
a:visited { color: #BF0677;}
img { 
border:0;
}
.f_rosa {
	background-image:url(../img/tops/rosa_2_02.gif);
	padding-left: 7px;
	color: #FFFFFF;
	font-weight:bold;
	height:23px;
}

.listado {
/*height:25px;*/
background-color:#EFF1F3;
vertical-align:middle;
}
.listado_nom {
 padding-left:5px;
 padding-right:5px;
}
.t_listado {
	font-weight: bold;
	color: #666666;
	height:20px;
	vertical-align:middle;
	background-color:#EFF1F3;
	text-align:center;
}
.listado_ch {
height:25px;
/*background-color:#EFF1F3;*/
vertical-align:middle;
font-size:9px;
}
h3 {
text-align:center;
font-size:12px;
color:  #666666;
font-weight:bold;
}

.menu_c {
background-image:url(../img/menu/gris_c.gif);
text-align:center;
vertical-align:middle;
color:#FFFFFF;
padding:3px;
font-weight:bold;
}
.menu_c_b {
background-image:url(../img/menu/gris_c.gif);
text-align:center;
vertical-align:middle;
color:#FFFFFF;
padding:3px;
font-weight:bold;
border-right-style:solid; 
border-right-width:1px; 
border-right-color:#FFFFFF;
}
.menu_c_b_rosa {
background-image:url(../img/menu/rosa_c.gif);
text-align:center;
vertical-align:middle;
color:#FFFFFF;
padding:3px;
font-weight:bold;
border-right-style:solid; 
border-right-width:1px; 
border-right-color:#FFFFFF;
}

.menu_c a:link {
color:#FFFFFF;
}
.menu_c a:visited {
color:#FFFFFF;
}
.menu_c_b a:link {
color:#FFFFFF;
}
.menu_c_b a:visited {
color:#FFFFFF;
}
.menu_c_b_rosa a:link {
color:#FFFFFF;
}
.menu_c_b_rosa a:visited {
color:#FFFFFF;
}
.negrita {
color:#000000;
font-weight:bold;
}
.negrita_gran {
color:#000000;
font-weight:bold;
font-size:14px;
}
.alerta {
color:#FF0000;
font-weight:bold;
text-align:center;
padding:10px;
}

.tabla_graficas {
	border-style:solid;
	border-width:1px;
}
.tabla_graficas tr td {
	border-style:solid;
	border-width:1px;
	padding-left:5px;
	border-color:#666666;
}